{% extends "base.html" %}

{% block content %}
	<h1>Works log</h1>
	<table class="table table-dark table-bordered table-sm">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Title of activity</th>
				<th scope="col">Team leader</th>
				<th scope="col">Duration</th>
				<th scope="col">List of collaborators</th>
				<th scope="col">Is finished</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			{% for job, leader in jobs%}
				<tr>
					<td>{{ job.id }}</td>
					<td>{{ job.job }}</td>
					<td>{{ leader.surname }} {{ leader.name }}</td>
					<td>{{ job.work_size }}</td>
					<td>{{ job.collaborators }}</td>
					<td>{{ job.is_finished }}</td>
					<td>
						{% if current_user.is_authenticated and leader.id == current_user.id %}
							<div>
								<a class="btn btn-warning" href="/editJobs/{{job.id}}">Edit</a>
								<a class="btn btn-danger" href="/deleteJobs/{{job.id}}">Delete</a>
							</div>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% if current_user.is_authenticated %}
		<div>
			<a class="btn btn-primary" href="/addJobs">Add jobs</a>
		</div>
	{% else %}
		<div>
			<a class="btn btn-success" href="/login">For add job sign in</a>
		</div>
	{% endif %}
{% endblock %}
